:root {

  --main-color: #f4b83c;
  --black: #13131a;
  --bg: #010103;
  --bordap: 0.1rem solid rgba(255, 255, 255, 0.3);
  font-size: 10px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000;
  color: white
}
/* ------------------ HEADER ------------------ */
header {
  background: #f4b83c;
  padding: 15px 0;
  width: 100%;
}

.navbar {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ------------------ LOGO ------------------ */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
/* ------------------ MENU DE NAVEGAÇÃO ------------------ */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  transition: 0.2s;
}
.nav-links a:hover {
  opacity: 0.6;
}
/* ------------------ BOTÕES DO HEADER ------------------ */
.botoes {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.btn-outline {
  padding: 10px 25px;
  border: 2px solid #000;
  color: #000;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s;
}

.btn-outline:hover {
  background: #000;
  color: #f2b544;
}

.btn-login {
  padding: 10px 25px;
  background: #000;
  color: #f2b544;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s;
}

.btn-login:hover {
  opacity: 0.7;
}
/* ------------------ SESSÃO - SOBRE ------------------ */
.sobre-container h1{
    margin-top: 80px;  /* Espaço acima do título */
    font-size: 3.8rem;/* Tamanho grande da fonte */
    padding-left: 270px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1; /* Espaço entre linhas */
}

.sobre-container span{
    color:  #f4b83c;
}

.sobre-container p{
    font-size: 15px;/* Tamanho base da fonte (sobrescrito depois) */
    padding-left: 270px;
    max-width: 45%;  /* Limita largura */
    margin-top: 20px; /* Espaço acima do parágrafo */
    
}
/* ------------------ FOTO AO LADO DO TEXTO ------------------ */
.foto{
    position: absolute;  /* Remove do fluxo normal e permite posicionar livremente */
    right: 250px;
    top: 350px;
}

.foto img{
    width: 420px;/* Largura fixa da imagem */
    border-radius: 10px;
    border: 4px solid #f4b83c;
    box-shadow: 0 0 50px #af8c46;
}
/* ------------------ BOTÃO PADRÃO ------------------ */
.btn{
  display: block; /* Ocupa toda a linha (necessário para centralizar com margin auto) */
  margin: 0 auto; /* Centraliza horizontalmente */
  background-color: rgb(70, 189, 66);
  color: rgb(248, 255, 238);
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;   /* Tamanho da fonte */
  font-weight:  600;
  transition: 0.3s;
}

.btn:hover{
  transform: scale(1.05);
}

a{
  text-decoration: none;
}